<footer class="fixed-bottom navbar-dark bg-dark">
    <div class="footer-copyright text-center py-3"> 2020 | <a href="https://docs.nicklyss.com/about">Nick Platt</a> | <div class="dropup">
  <a class="dropbtn" href="#">Game Status <i class="fas fa-info-circle"></i></a>
  <div class="dropup-content">
    <a href="#"><b>FT</b> - Full Time</a>
    <a href="#"><b>AET</b> - After Extra Time</a>
    <a href="#"><b>1H/2H</b> - First/Second Half</a>
    <a href="#"><b>HT</b> - Half Time</a>
    <a href="#"><b>ET</b> - Extra Time</a>
    <a href="#"><b>BT</b> - Break Time (in Extra Time)</a>
    <a href="#"><b>PEN</b> - Penalties AET</a>
  </div>
</div></div>
    	
</footer>