<footer class="fixed-bottom navbar-dark bg-dark">
    <div class="footer-copyright text-center py-3">
        <div class="dropup">
            <a class="dropbtn" href="#">Table Explained <em class="fas fa-info-circle"></em></a>
            <div class="dropup-content">
                <a href="#"><strong>GP</strong> - Games Played</a>
                <a href="#"><strong>W</strong> - Wins</a>
                <a href="#"><strong>D</strong> - Draw</a>
                <a href="#"><strong>L</strong> - Loss</a>
                <a href="#"><strong>+</strong> - Goals For</a>
                <a href="#"><strong>-</strong> - Goals Against</a>
                <a href="#"><strong>GD</strong> - Goal Difference</a>
                <a href="#"><strong>PTS</strong> - Points</a>
            </div>
        </div>
    </div>
</footer>