<footer class="fixed-bottom navbar-dark bg-dark">
    <div class="footer-copyright text-center py-3">
        <div class="dropup">
            <a class="dropbtn" href="#">Game Status <em class="fas fa-info-circle"></em></a>
            <div class="dropup-content">
                <a href="#"><strong>FT</strong> - Full Time</a>
                <a href="#"><strong>AET</strong> - After Extra Time</a>
                <a href="#"><strong>1H/2H</strong> - First/Second Half</a>
                <a href="#"><strong>HT</strong> - Half Time</a>
                <a href="#"><strong>ET</strong> - Extra Time</a>
                <a href="#"><strong>BT</strong> - Break Time (in Extra Time)</a>
                <a href="#"><strong>PEN</strong> - Penalties AET</a>
                <a href="#"><strong>TBD</strong> - To Be Determined</a>
            </div>
        </div>
    </div>
</footer>