<%- include('head.ejs'); %>
<body>
  <%- include('header.ejs'); %>
	<div class="container-fluid">
		<div class="card" id="card_home" style="background: rgb(255, 255, 255, 1); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 15px;">
			<div class="card-header" style="text-align: center;">
        <h2>Live Scores</h2>
      </div>
      
	<div class="card-body">
        <div class="date_card">
          <i class="fas fa-angle-double-left" id="back_day" style="padding-right: 5px; cursor: pointer;"></i>
          <input type="date" id="date_list" class="select-list" tabindex="1" min="2018-01-01" max="2023-01-01">
          <i class="fas fa-angle-double-right" id="forward_day" style="padding-left: 5px; cursor: pointer;"></i>
          <span class="refreshIconHome"><i class="fas fa-sync-alt" id="refresh" style="cursor: pointer;"></i></span>
        </div>
        
        <div id="list1" class="dropdown-check-list" tabindex="2" style="margin-left: 75%;margin-top: -70px;position: absolute;background-color: #fff;">
          <span class="anchor">Choose Leagues</span>
          <ul class="items">
            <li class="dropdown-header">World<img src="https://nicklyss.com/wp-content/uploads/2020/11/world.png" style="padding-left: 5px; width:15%;height:15%;"></li>
            <li><input type="checkbox" name="league-type" value="Friendlies" checked/> International Friendlies</li> 
            <li class="dropdown-header">Europe<img src="https://media.api-sports.io/flags/eu.svg" style="padding-left: 5px; width:15%;height:15%;"></li>
            <li><input type="checkbox" name="league-type" value="Euro" checked/> UEFA Euro</li> 
            <li><input type="checkbox" name="league-type" value="NationsLeague" checked/> Nations League</li> 
            <li><input type="checkbox" name="league-type" value="ChampionsLeague" checked/> Champions League</li> 
            <li><input type="checkbox" name="league-type" value="EuropaLeague" checked/> Europa League</li>
            <li class="dropdown-header">England<img src="https://media.api-sports.io/flags/gb.svg" style="padding-left: 5px; width:15%;height:15%;"></li> 
            <li><input type="checkbox" name="league-type" value="PremierLeague" checked/> Premier League </li>
            <li><input type="checkbox" name="league-type" value="Championship" checked/> Championship </li>
            <li><input type="checkbox" name="league-type" value="LeagueOne" checked/> League One </li>
            <li><input type="checkbox" name="league-type" value="FACup" checked/> FA Cup </li>
            <li><input type="checkbox" name="league-type" value="LeagueCup" checked/> League Cup </li>
            <li class="dropdown-header">Germany<img src="https://media.api-sports.io/flags/de.svg" style="padding-left: 5px; width:15%;height:15%;"></li> 
            <li><input type="checkbox" name="league-type" value="Bundesliga" checked/> Bundesliga</li>
            <li><input type="checkbox" name="league-type" value="Bundesliga2" checked/> Bundesliga 2</li>
            <li><input type="checkbox" name="league-type" value="Liga3" checked/> Liga 3</li>
            <li><input type="checkbox" name="league-type" value="DFBPokal" checked/> DFB Pokal</li>
            <li class="dropdown-header">Spain<img src="https://media.api-sports.io/flags/es.svg" style="padding-left: 5px; width:15%;height:15%;"></li> 
            <li><input type="checkbox" name="league-type" value="LaLiga" checked/> La Liga</li>
            <li><input type="checkbox" name="league-type" value="LaLiga2" checked/> La Liga 2</li>
            <li><input type="checkbox" name="league-type" value="CopaDelRey" checked/> Copa Del Rey</li>
            <li class="dropdown-header">Italy<img src="https://media.api-sports.io/flags/it.svg" style="padding-left: 5px; width:15%;height:15%;"></li> 
            <li><input type="checkbox" name="league-type" value="SerieA" checked/> Serie A </li>
            <li><input type="checkbox" name="league-type" value="SerieB" checked/> Serie B </li>
            <li><input type="checkbox" name="league-type" value="CoppaItalia" checked/> Coppa Italia </li>
            <li class="dropdown-header">Netherlands<img src="https://media.api-sports.io/flags/nl.svg" style="padding-left: 5px; width:15%;height:15%;"></li> 
            <li><input type="checkbox" name="league-type" value="Eredivise" checked/> Eredivise</li>
            <li><input type="checkbox" name="league-type" value="KNVBCup" checked/> KNVB Cup</li>
            <li class="dropdown-header">France<img src="https://media.api-sports.io/flags/fr.svg" style="padding-left: 5px; width:15%;height:15%;"></li> 
            <li><input type="checkbox" name="league-type" value="Ligue1" checked/> Ligue 1</li>
            <li><input type="checkbox" name="league-type" value="CoupeDeFrance" checked/> Coupe de France</li>
            <li class="dropdown-header">Portuga<img src="https://media.api-sports.io/flags/pt.svg" style="padding-left: 5px; width:15%;height:15%;"></li> 
            <li><input type="checkbox" name="league-type" value="PrimeiraLiga" checked/> Primeira Liga</li>      
          </ul>
        </div>
            
        <script type="text/javascript">
          var checkList = document.getElementById('list1');
          checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
            if (checkList.classList.contains('visible'))
              checkList.classList.remove('visible');
            else
              checkList.classList.add('visible');
          }
        </script>
        <div id="Euro" class="Euro">
        </div>
        <div id="Friendlies" class="Friendlies">
        </div>
        <div id="NationsLeague" class="NationsLeague">
        </div>
        <div id="ChampionsLeague" class="ChampionsLeague">
        </div>
        <div id="EuropaLeague" class="EuropaLeague">
        </div>
        <div id="England_PremierLeague" class="PremierLeague">
        </div>
        <div id="England_Championship" class="Championship">
        </div>
        <div id="England_LeagueOne" class="LeagueOne">
        </div>
        <div id="England_LeagueCup" class="LeagueCup">  
        </div>
        <div id="England_FACup" class="FACup">  
        </div>
        <div id="Germany_Bundesliga" class="Bundesliga">
        </div>
        <div id="Germany_Bundesliga2" class="Bundesliga2">
        </div>
        <div id="Germany_Liga3" class="Liga3">  
        </div>
        <div id="Germany_DFBPokal" class="DFBPokal">  
        </div>
        <div id="Spain_LaLiga" class="LaLiga">
        </div>
        <div id="Spain_LaLiga2" class="LaLiga2">
        </div>
        <div id="Spain_CopaDelRey" class="CopaDelRey">  
        </div>
        <div id="Italy_SerieA" class="SerieA"> 
        </div>
        <div id="Italy_SerieB" class="SerieB"> 
        </div>
        <div id="Italy_CoppaItalia" class="CoppaItalia">   
        </div>
        <div id="Netherlands_Eredivisie" class="Eredivise">
        </div>
        <div id="Netherlands_KNVBCup" class="KNVBCup">
        </div>
        <div id="France_Ligue1" class="Ligue1">
        </div>
        <div id="France_CoupeDeFrance" class="CoupeDeFrance">
        </div>
        <div id="Portugal_PrimeiraLiga" class="PrimeiraLiga">
        </div>
        <div id="no_games" class="no_games"></div>
        <div id="only_live" class="only_live"></div>
			</div>
		</div>
	</div>

<%- include('footer.ejs'); %>

<script>
  $(function(){
    $("#nav_home").addClass("active");
    $("#nav_league").removeClass("active");
    $("#nav_login").removeClass("active");

    const $menu = $('#list1');

    $(document).mouseup(e => {
      if (!$menu.is(e.target) // if the target of the click isn't the container...
      && $menu.has(e.target).length === 0) // ... nor inside the container
      {
        $menu.removeClass('visible');
      }
    });

    var current_date = new Date();
    var formatted_date = formatDate(current_date);
    var content_date = document.getElementById('date_list').value;
    $('#date_list').attr('value', formatted_date);
    $("#date_list").html(content_date);
    getContent();

    $('#refresh').click(function () {
      getContent();
    })

    $('#forward_day').click(function () {
      var content_date = document.getElementById('date_list').value
      var current_date = new Date(content_date);
      current_date.setDate(current_date.getDate() + 2);
      var formatted_date = formatDate(current_date);
      // $('#date_list').attr('value', formatted_date);
      $('#date_list').val(formatted_date);
      $("#date_list").html(content_date);
      getContent();
    })

    $('#back_day').click(function () {
      var content_date = document.getElementById('date_list').value
      var current_date = new Date(content_date);
      current_date.setDate(current_date.getDate());
      var formatted_date = formatDate(current_date);
      $('#date_list').val(formatted_date);
      $("#date_list").html(content_date);
      getContent();
    })


    $.ajax({
      url: "/fetch_fixtures",
      method: "POST",
      headers: {
        "Accept": "application/json; odata=verbose",
        "Content-Type": "application/json; odata=verbose"
      },
      data: JSON.stringify({
        the_date: current_date
      }),
      processData: false,
      success: function(res) { 
        appendContent(res.api.fixtures);
      }
    });
    var interval = 0; //Auto Update Checkbox in header
    $('#auto_refresh_checkbox').change(function(){
      if($('#auto_refresh_checkbox:checked').length >0){
        interval = setInterval(function(){
          getContent();
          console.log('--content updated--');
        }, 60000);
      }else{
        if(interval !== 0){
          clearInterval(interval);
          console.log('--content updating stopped--');
        }
      }
    });

    $('input[type="checkbox"]').click(function() { 
        var inputValue = $(this).attr("value"); 
        $("." + inputValue).toggle(); 
    });

    $('#date_list').change(function(){
        getContent();
    });
  });

  function formatDate(date) {
     var dd = String(date.getDate()).padStart(2, '0');
     var mm = String(date.getMonth() + 1).padStart(2, '0'); //month is 0 indexed
     var yyyy = String(date.getFullYear()).padStart(4, '0');
    var datestring = yyyy + "-" + mm + "-" + dd;
    return datestring;
   }

  function getContent(){
    var date = $('#date_list').val();
    $.ajax({
      url: "/fetch_fixtures",
      method: "POST",
      headers: {
        "Accept": "application/json; odata=verbose",
        "Content-Type": "application/json; odata=verbose"
      },
      data: JSON.stringify({
        the_date: date
      }),
      processData: false,
      success: function(res) { 
        appendContent(res.api.fixtures);
      }
      
    });


    setTimeout(function() { tableCheck(); }, 2000);
  }
  function appendContent(data){
    //england
    let data_PremierLeague = (data || []).filter(item=>item.league.country=="England"&&item.league.name=="Premier League");
    let data_Championship = (data || []).filter(item=>item.league.country=="England"&&item.league.name=="Championship");
    let data_LeagueOne = (data || []).filter(item=>item.league.country=="England"&&item.league.name=="League One");
    let data_FACup = (data || []).filter(item=>item.league.country=="England"&&item.league.name=="FA Cup");
    let data_LeagueCup = (data || []).filter(item=>item.league.country=="England"&&item.league.name=="League Cup");
    //germany
    let data_Bundesliga = (data || []).filter(item=>item.league.country=="Germany"&&item.league.name=="Bundesliga 1");
    let data_Bundesliga2 = (data || []).filter(item=>item.league.country=="Germany"&&item.league.name=="Bundesliga 2");
    let data_Liga3 = (data || []).filter(item=>item.league.country=="Germany"&&item.league.name=="Liga 3");
    let data_DFBPokal = (data || []).filter(item=>item.league.country=="Germany"&&item.league.name=="DFB Pokal");
    //spain
    let data_LaLiga = (data || []).filter(item=>item.league.country=="Spain"&&item.league.name=="Primera Division");
    let data_LaLiga2 = (data || []).filter(item=>item.league.country=="Spain"&&item.league.name=="Segunda Division");
    let data_CopaDelRey = (data || []).filter(item=>item.league.country=="Spain"&&item.league.name=="Copa del Rey");
    //italy
    let data_SerieA = (data || []).filter(item=>item.league.country=="Italy"&&item.league.name=="Serie A");
    let data_SerieB = (data || []).filter(item=>item.league.country=="Italy"&&item.league.name=="Serie B");
    let data_CoppaItalia = (data || []).filter(item=>item.league.country=="Italy"&&item.league.name=="Coppa Italia");
    //netherlands
    let data_Eredivisie = (data || []).filter(item=>item.league.country=="Netherlands"&&item.league.name=="Eredivisie");
    let data_KNVBCup = (data || []).filter(item=>item.league.country=="Netherlands"&&item.league.name=="KNVB Beker");
    //france
    let data_league1 = (data || []).filter(item=>item.league.country=="France"&&item.league.name=="Ligue 1");
    let data_CoupeDeFrance = (data || []).filter(item=>item.league.country=="France"&&item.league.name=="Coupe De France");
    //portugal
    let data_PremieraLiga = (data || []).filter(item=>item.league.country=="Portugal"&&item.league.name=="Primeira Liga");
    //europe
    let data_Euro = (data || []).filter(item=>item.league.country=="World"&&item.league.name=="Euro Championship");
    let data_NationsLeague = (data || []).filter(item=>item.league.country=="World"&&item.league.name=="UEFA Nations League");
    let data_ChampionsLeague = (data || []).filter(item=>item.league.country=="World"&&item.league.name=="UEFA Champions League");
    let data_EuropaLeague = (data || []).filter(item=>item.league.country=="World"&&item.league.name=="UEFA Europa League");
    //world
    let data_Friendlies = (data || []).filter(item=>item.league.country=="World"&&item.league.name=="Friendlies");

    let content_Euro = getContent_item("UEFA European Championship", data_Euro);
    $("#Euro").html(content_Euro);

    let content_Friendlies = getContent_item("Friendlies", data_Friendlies);
    $("#Friendlies").html(content_Friendlies);

    let content_NationsLeague = getContent_item("Nations League", data_NationsLeague);
    $("#NationsLeague").html(content_NationsLeague);

    let content_ChampionsLeague = getContent_item("Champions League", data_ChampionsLeague);
    $("#ChampionsLeague").html(content_ChampionsLeague);

    let content_EuropaLeague = getContent_item("Europa League", data_EuropaLeague);
    $("#EuropaLeague").html(content_EuropaLeague);

    let content_PremierLeague = getContent_item("England - Premier League", data_PremierLeague); 
    $("#England_PremierLeague").html(content_PremierLeague);

    let content_Championship = getContent_item("England - Championship", data_Championship); 
    $("#England_Championship").html(content_Championship);

    let content_LeagueOne = getContent_item("England - League One", data_LeagueOne); 
    $("#England_LeagueOne").html(content_LeagueOne);

    let content_FACup = getContent_item("England - FA Cup", data_FACup); 
    $("#England_FACup").html(content_FACup);

    let content_LeagueCup = getContent_item("England - League Cup", data_LeagueCup); 
    $("#England_LeagueCup").html(content_LeagueCup);
    
    let content_Bundesliga = getContent_item("Germany - Bundesliga", data_Bundesliga);
    $("#Germany_Bundesliga").html(content_Bundesliga);

    let content_Bundesliga2 = getContent_item("Germany - Bundesliga 2", data_Bundesliga2);
    $("#Germany_Bundesliga2").html(content_Bundesliga2);

    let content_Liga3 = getContent_item("Germany - Liga 3", data_Liga3);
    $("#Germany_Liga3").html(content_Liga3);

    let content_DFBPokal = getContent_item("Germany - DFB Pokal", data_DFBPokal);
    $("#Germany_DFBPokal").html(content_DFBPokal);

    let content_LaLiga = getContent_item("Spain - La Liga", data_LaLiga);
    $("#Spain_LaLiga").html(content_LaLiga);

    let content_LaLiga2 = getContent_item("Spain - La Liga 2", data_LaLiga2);
    $("#Spain_LaLiga2").html(content_LaLiga2);

    let content_CopaDelRey = getContent_item("Spain - Copa del Rey", data_CopaDelRey);
    $("#Spain_CopaDelRey").html(content_CopaDelRey);

    let content_SerieA = getContent_item("Italy - Serie A", data_SerieA);
    $("#Italy_SerieA").html(content_SerieA);

    let content_SerieB = getContent_item("Italy - Serie B", data_SerieB);
    $("#Italy_SerieB").html(content_SerieB);

    let content_CoppaItalia = getContent_item("Italy - Coppa Italia", data_CoppaItalia);
    $("#Italy_CoppaItalia").html(content_CoppaItalia);

    let content_Eredivisie = getContent_item("Netherlands - Eredivisie", data_Eredivisie);
    $("#Netherlands_Eredivisie").html(content_Eredivisie);

    let content_KNVBCup = getContent_item("Netherlands - KNVB Cup", data_KNVBCup);
    $("#Netherlands_KNVBCup").html(content_KNVBCup);

    let content_Ligue1 = getContent_item("France - Ligue 1", data_league1);
    $("#France_Ligue1").html(content_Ligue1);

    let content_CoupeDeFrance = getContent_item("France - Coupe De France", data_CoupeDeFrance);
    $("#France_CoupeDeFrance").html(content_CoupeDeFrance);

    let content_PrimeiraLiga = getContent_item("Portugal - Primeira Liga", data_PremieraLiga);
    $("#Portugal_PrimeiraLiga").html(content_PrimeiraLiga);
  }

  function getContent_item(league_name, data){
    if(data.length == 0){
      return null;
    }
    let content="<br/><h5>" + league_name + "</h5><hr style='height:2px;border-width:0;color:gray;background-color:gray'><table id='leagueTables' class='table table-secondary table-bordered' style='width:100%;'>";
    
    data.forEach(e => {
    var goals_HomeTeam = e.goalsHomeTeam == null ? "?" : e.goalsHomeTeam;
    var goals_AwayTeam = e.goalsAwayTeam == null ? "?" : e.goalsAwayTeam;
    var gameDate = e.event_date.slice(11, 16);
    var gameTime;
    if (e.statusShort == "NS"){
      gameTime = gameDate + "&nbsp;";
    } else if (e.statusShort == "FT"){
      gameTime = e.statusShort;
    } else if (e.statusShort == "AET"){
      gameTime = e.statusShort;
    } else if (e.statusShort == "PEN"){
      gameTime = e.statusShort;
    } else if (e.statusShort == "SUSP"){
      gameTime = "Suspended";
    } else if (e.statusShort == "TBD"){
      gameTime = e.statusShort;
    } else if (e.statusShort == "CANC"){
      gameTime = "Cancelled";
    } else if (e.statusShort == "WO"){
      gameTime = "Cancelled";
    } else if (e.statusShort == "INT"){
      gameTime = "Interrupted";
    } else if (e.statusShort == "ABD"){
      gameTime = "Abandoned";
    } else if (e.statusShort == "BT"){
      gameTime = "Break" +  "&nbsp;" + "<span class='blink_me'>(LIVE)</span>";
    } else if (e.statusShort == "HT"){
      gameTime = e.statusShort + "&nbsp;" + "<span class='blink_me'>(LIVE)</span>";
    } else if (e.statusShort == "PST"){
      gameTime = "Postponed"
    } else {
      gameTime = e.statusShort + "&nbsp;" + "-" + "&nbsp;" + e.elapsed + "'" +  "&nbsp;" + "<span class='blink_me'>(LIVE)</span>";
    }
    if (e.statusShort == "CANC"){
    content += "<tr>"+
                  "<td style='width:15%;'>" + gameTime + "</td>"+
                  "<td style='width:35%;text-align:right;'>" + e.homeTeam.team_name + "&nbsp;&nbsp;&nbsp;<img width='30' height='30' src='" + e.homeTeam.logo + "'>" + "</td>" + 
                  "<td style='width:15%%'>" + "0" + " - " +"0" +"</td>" + 
                  "<td style='width:35%;text-align:left;'>" + "<img width='30' height='30' src='" + e.awayTeam.logo + "'>&nbsp;&nbsp;&nbsp;" + e.awayTeam.team_name +  "</td>"+
                "</tr>";
    } else {
    content += "<tr>"+
                  "<td style='width:15%;'>" + gameTime + "</td>"+
                  "<td style='width:35%;text-align:right;'>" + e.homeTeam.team_name + "&nbsp;&nbsp;&nbsp;<img width='30' height='30' src='" + e.homeTeam.logo + "'>" + "</td>" + 
                  "<td style='width:15%%'>" + goals_HomeTeam + " - " +goals_AwayTeam +"</td>" + 
                  "<td style='width:35%;text-align:left;'>" + "<img width='30' height='30' src='" + e.awayTeam.logo + "'>&nbsp;&nbsp;&nbsp;" + e.awayTeam.team_name +  "</td>"+
                "</tr>";
    }});

    content += "</td></tr></table>";
    return content;
  }

function tableCheck(){
  if (document.getElementById("leagueTables")) {
      document.getElementById("no_games").innerHTML = "";
   }else{
     document.getElementById("no_games").innerHTML = "No games available on selected date! <i class='far fa-frown'></i>";
   }
}

$( '#refresh' ).click(function() {
    $( this ).addClass( 'fa-spin' );
    var $el = $(this);
    setTimeout(function() { $el.removeClass( 'fa-spin' ); }, 1000);
    startup();
});

</script>
</body>
</html>